<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ticketSpace.ticketpro_app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DetalleCliente.DetalleCliente"
            android:exported="false" />
        <activity
            android:name=".CategoriasClienteFirebase.ListaCategoriaFirebase"
            android:exported="false" />
        <activity
            android:name=".Categorias.ControladorCD"
            android:exported="false" />
        <activity
            android:name=".CategoriasCliente.FamiliaresCliente"
            android:exported="false" />
        <activity
            android:name=".CategoriasCliente.FeriasCliente"
            android:exported="false" />
        <activity
            android:name=".CategoriasCliente.FiestasCliente"
            android:exported="false" />
        <activity
            android:name=".CategoriasCliente.DeportesCliente"
            android:exported="false" />
        <activity
            android:name=".CategoriasCliente.ConciertosCliente"
            android:exported="false" />
        <activity
            android:name=".InicioSesion"
            android:exported="false" />
        <activity
            android:name=".Registro"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityAdministrador"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Carga"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>